.tab-pane{
    margin: 1%;
}

div.pageload{
    background: #ffffff;
}

div.pageload p, div.pageload div p{
    margin-top : 1rem;
    display: inline-block;
}

div.pageload p.sha{
    display: flex;
}

div.pageload p:empty{
    display: none;
}

.mydatepick {
    display: inline-flex;
}

.col-form-label{
    margin-left:2%;
}

.nav-item{
    text-align: center;
}

.labelpick
{
    max-width: 100% !important;
}