.tab-pane{
    margin: 1%;
}

div.pageload{
    background: #ffffff;
}

div.pageload p, div.pageload div p{
    margin-top : 1rem;
    display: inline-block;
}

div.pageload p.sha{
    display: flex;
}

div.pageload p:empty{
    display: none;
}